<h3>Dear store3d Oman User, </h3>
<p>Your request for new password:</p>
<p>New Password: <b>{{ new_password }}</b></p>
<p>Please click this link to activate your account:</p>
<h3><a href="{{ confirm_url }}">Activate Account</a></h3>
<p>After verification, You can change your password form the application.</p>
<br>
<p>store3d Oman Team</p>
<small>
    Please note: This e-mail was sent from a notification-only address that cannot accept incoming e-mails. Please do not reply to this message.
</small>