<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" class="uk-height-1-1">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Logs Viewers</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
<body>
<section class="section">
<div class="container">
	<div class="columns is-centered is-mobile">	
		<div class="column is-muted notification is-four-fifths">
			<h1 class="title">Logs Viewers</h1>
			<h2 class="subtitle">logs</h2>
			<select id='logs'>
				<option value="{{log_config.WWW_LOG_NAME}}">{{log_config.WWW_LOG_NAME}}</option>
				<option value="{{log_config.APP_LOG_NAME}}">{{log_config.APP_LOG_NAME}}</option>
			</select>
		</div>
	</div>
</div>
<div class="container">
	<div class="columns is-centered is-mobile">	
		<div class="column is-dark notification is-four-fifths">
			<div class="is-size-7 has-text-warning" id="display">
				<ul id="display_list">
				</ul>
			</div>
		</div>
	</div>
</div>
</section>

<script type="text/javascript">
	var logstreemurl =  '{{ url_for('admins.get_log_stream',log_type=log_config.WWW_LOG_NAME) }}'
	var source_progress;
	log_progress();
	function log_progress(){
		source_progress = new EventSource(logstreemurl);
		source_progress.onmessage = function(event) {
			//$('#progress').text(event.data+'%');
		if(event.data != null)
			$('#display_list').prepend('<li>'+event.data+'</li>');
		if(event.data == 100){
			source_progress.close()
		}
		}
	}
	$("#logs").change(function(){
		source_progress.close();
		$('#display_list').empty();
		parts = logstreemurl.split("/"),
    	last_part = parts[parts.length-1];
		var log = this.value;
		logstreemurl = logstreemurl.replace(last_part,log);
		log_progress();
		//alert(logstreemurl);
	});
</script>
</body>
</html>